/////Colors
$accent: #CA0100;
$black: #262626;
$black100: #595D60;
$gray: #737373;
$gray100: #ADADB0;
$gray200: #C2C2C4;
$gray300: #E1E1E1;
$gray400: #EFF0F0;
$white: #fff;
$shadow: #85939F;

/////Font-sizes
$_8px: 0.5rem;
$_9px: 0.563rem;
$_10px: 0.625rem;
$_11px: 0.688rem;
$_12px: 0.75rem;
$_13px: 0.813rem;
$_14px: 0.875rem;
$_16px: 1rem;
$_18px: 1.125rem;
$_20px: 1.25rem;
$_21px: 1.313rem;
$_22px: 1.375rem;
$_24px: 1.5rem;
$_26px: 1.625rem;
$_27px: 1.688rem;
$_28px: 1.75rem;
$_29px: 1.813rem;
$_30px: 1.875rem;
$_32px: 2rem;
$_34px: 2.125rem;
$_36px: 2.25rem;
$_40px: 2.5rem;
$_60px: 3.75rem;